---
import Image from 'astro/components/Image.astro';
import "../../../assets/styles/global.css"
import logo1 from "../../../assets/logo3.png"
import Hamburger from "../../../assets/hamburger-menu-icon.svg";
---


<nav class="bg-yellow-400 z-20 flex items-center justify-between px-10 h-18 shrink-0">
    <Image
            src={logo1}
            alt="Michalak24"
            class="w-[240px] h-full object-cover"
    />
    <Hamburger class="openMenuButton block lg:hidden w-10 h-10 text-black" />
    <div class="hidden lg:flex items-center gap-6 text-sm ">
        <a class="text-black font-bold uppercase tracking-wider opacity-75 hover:opacity-100 transition-opacity cursor-pointer " href="/">Strona główna</a>
        <a class="text-black font-bold uppercase tracking-wider opacity-75 hover:opacity-100 transition-opacity cursor-pointer" href="/src/pages/uslugi">Nasze usługi</a>
        <a class="text-black font-bold uppercase tracking-wider opacity-75 hover:opacity-100 transition-opacity cursor-pointer" href="/o-nas">O nas</a>
        <a class="text-black font-bold uppercase tracking-wider opacity-75 hover:opacity-100 transition-opacity cursor-pointer" href="/wpisy">Aktualności</a>
        <a class="text-black font-bold uppercase tracking-wider opacity-75 hover:opacity-100 transition-opacity cursor-pointer" href="/kontakt">Kontakt</a>
    </div>
</nav>