---
import Hero_component from "./hero_section/hero_component.astro";
import Faq_component from "./faq_section/faq_component.astro";
import Our_services_component from "./our_services_section/our_services_component.astro";
import About_us_component from "./about_us_section/about_us_component.astro";
import Why_us_component from "./why_us_section/Why_us_component.astro";
import Latest_component from "./latest_section/Latest_component.astro";
import Gallery_component from "./gallery_section/Gallery_component.astro";
---

<section>
    <Hero_component />
    <Our_services_component />
    <About_us_component />
    <Why_us_component />
    <Latest_component />
    <Gallery_component />
    <Faq_component />
</section>