---
import "../assets/styles/global.css"
import Footer_section from "../components/shared/footer_component/footer_section.astro";
import Navigation_component from "../components/shared/navigation_component/navigation_component.astro";
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Pomoc drogowa Kalisz - Michalak24</title>
	</head>
	<body>
    <Navigation_component />
		<slot />
    <Footer_section />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
